

    <nav class="navbar">
        <a  class="logo">
            <img src="../../../assets/TL-logo 1.png" alt="" />
        </a>
        <ul class="nav-links">
          <li class="nav-item"><a href="#">BuyerInquires</a></li>
          <li class="nav-item"><a href="#">Support</a></li>
          <li class="nav-item"><a href="#">Pricing</a></li>
          <a href="#"><img class="vector" src="../../../assets/Vector.png" /></a>
        </ul>
      </nav>
      <div id="bannerimage">
          <div >Suyog Enterprises</div>
          <div style="display: inline-flex;">
              <div><img src="../../../assets/Vector-1.png" /></div>
              <div><img src="../../../assets/Verified Supplier.png" /></div>
          </div>
      </div>
   